<section *ngIf="listaPersonajes.length> 0 ; else cargando">
    <article>
        <input type="text" placeholder="filtrar por nombre" [(ngModel)]="filtroNombre" (input)="aplicarFiltros()">
        <select [(ngModel)]="filtroGenero" (change)="aplicarFiltros()">
            <option value="">Filtrar por Género</option>
            <option value="man" >Masculino</option>
            <option value="female">Femenino</option>
            <option value="unknown">Desconocido</option>
        </select>
        <button class="bot" (click)="limpiarFiltros()">LIMPIAR</button>
    </article>
    <article>
        <button>AGREGAR PERSONAJE</button>
    </article>
    <article class="tarjetas" *ngIf="listaFiltrada.length  >0 ; else ninguno">
        <div class="tarjeta" *ngFor=" let personaje of listaFiltrada">
            <h2>{{personaje.name}}</h2>
            <img [src]="['https://cdn.thesimpsonsapi.com/200'+ personaje.portrait_path]"  alt="{{personaje.name}}">
            <button [routerLink]="['/personajes',personaje.id]">VER DETALLE</button>

        </div>
    </article>

</section>
<ng-template #cargando>
    <p>Cargando datos...</p>
</ng-template>
<ng-template #ninguno>
    <p>Cargando lista filtrada...</p>
</ng-template>